html, body {
    height: 100%;
    margin: 0;
}

/* Fixed background */
.bg-wrapper {
    background: url("../images/college-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

/* Dark overlay for text readability */
.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    min-height: 100vh;
}

/* Content spacing */
.content-section {
    padding: 120px 0;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
}
/* Login Card */
.login-card {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(243, 125, 15, 0.874);
}

.login-card input {
    border-radius: 5px;
}
.login-link {
    color: #ffffff !important;
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 6px 14px;
    transition: 0.3s;
}

.login-link:hover {
    background-color: #ffffff;
    color: #000 !important;
}
button,
.btn {
    font-weight: 700;
}
